// main: style.scss

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

.big-video-wrap {
  video {
    width: 100%;
    object-fit: cover;
    height: 600px;
    left: 0px;
  }
}

.big-image-wrap {
  img {
    object-fit: cover;
    width: 100%;
    height: 470px;
  }
}

.builder_row_cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
  transform: translateZ(0);
}

.builder_row_cover::before {
  background-image: -webkit-linear-gradient(
    180deg,
    #49505724 26%,
    #49505796 83%
  );
  background-image: -o-linear-gradient(180deg, #49505724 26%, #49505796 83%);
  background-image: linear-gradient(180deg, #49505724 26%, #49505796 83%);
}

// Contact page
#contact-cover {
  .builder_row_cover::before {
    background-image: -webkit-linear-gradient(
      180deg,
      #49505791 26%,
      #49505796 83%
    );
    background-image: -o-linear-gradient(180deg, #49505791 26%, #49505796 83%);
    background-image: linear-gradient(180deg, #49505791 26%, #49505796 83%);
  }
}

.image-cover {
  .builder_row_cover::before {
    background-image: -webkit-linear-gradient(
      180deg,
      #495057b3 26%,
      #4950579c 83%
    );
    background-image: -o-linear-gradient(180deg, #495057b3 26%, #4950579c 83%);
    background-image: linear-gradient(180deg, #495057b3 26%, #4950579c 83%);
  }

  .builder_row_cover::before,
  .builder_row_cover:after {
    height: 470px;
  }

  .intro-container {
    top: 180px;
  }
}

@media (max-width: 1024px) {
  .image-cover {
    .intro-container {
      top: 120px;
    }
  }
}

.builder_row_cover:before,
.builder_row_cover:after {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  content: "";
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.builder_row_cover:after,
.module_row:hover > .builder_row_cover.tb-row-cover-hover:before,
.module_subrow:hover > .builder_row_cover.tb-row-cover-hover:before,
.module_column:hover > .builder_row_cover.tb-row-cover-hover:before {
  opacity: 0;
}

.intro-container {
  position: absolute;
  top: 320px;
  left: 0;
  width: 100%;
  color: #fff;

  .intro-individual-page {
    color: #fff;
    p {
      font-size: 20px;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: 60px;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 40px;
    }
  }
}
