@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'variables';

@import 'general';
@import 'header';
@import 'intro';
@import 'nav';
@import 'sections';
@import 'footer';

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #intro {
    .container {
      max-width: 73.5%;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.company-highlight {
  color: $primary;
  font-weight: 500;
}
