/*================================================
Footer Area CSS
=================================================*/
.footer-area {
  position: relative;
  z-index: 1;
  padding-bottom: 65px;
  &.bg-color {
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('../images/bg-footer.jpg') no-repeat;
      background-size: cover;
      opacity: 0.64;
    }
  }
}
.single-footer-widget {
  .logo {
    margin-bottom: 15px;
    font-size: 15px;
    display: inline-block;
    margin-top: 56px;
  }
  .introduce {
    letter-spacing: var(--character-spacing-0);
    color: var(--title);
    margin-bottom: 74px;
    font: {
      style: var(--font-style-normal);
      weight: var(--font-weight-normal);
      size: 17px;
      family: var(--font-family-poppins);
    }
  }
  .social-link {
    padding-left: 0;
    list-style-type: none;
    margin: {
      bottom: 0;
      top: 18px;
    }
    li {
      display: inline-block;
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }
      a {
        width: 68px;
        height: 68px;
        text-align: center;
        font-size: 18px;
        position: relative;
        border-radius: 2px;
      }
    }
  }
  h3 {
    margin-bottom: 25px;
    margin-top: 121px;
    font: {
      style: var(--font-style-normal);
      weight: bold;
      size: var(--font-size-24);
      family: var(--font-family-poppins);
    }
    letter-spacing: var(--character-spacing-0);
    color: var(--title);
  }
  .footer-links-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      margin-bottom: 12px;
      font: {
        style: var(--font-style-normal);
        weight: var(--font-weight-normal);
        size: 17px;
        family: var(--font-family-poppins);
      }
      letter-spacing: var(--character-spacing-0);
      color: var(--title);
      a {
        display: inline-block;

        &:hover {
          color: $main-color;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .footer-contact-info {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      margin-bottom: 13px;
      position: relative;
      font: {
        style: var(--font-style-normal);
        weight: var(--font-weight-normal);
        size: 17px;
        family: var(--font-family-poppins);
      }
      letter-spacing: var(--character-spacing-0);
      color: var(--title);

      a {
        display: inline-block;

        &:hover {
          color: $main-color;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      i {
        position: absolute;
        left: 0;
        color: $main-color;
        top: 4px;

        &.bxs-inbox {
          top: 3px;
        }
      }
    }
  }
}
.footer-bottom-area {
  margin-top: 70px;
  border-top: 1px solid #f3f2ee;
  padding: {
    top: 25px;
    bottom: 25px;
  }
  p {
    i {
      position: relative;
      top: 1.3px;
    }
    a {
      color: $main-color;
      font-weight: 600;

      &:hover {
        color: $black-color;
      }
    }
    strong {
      color: $black-color;
    }
  }
  ul {
    text-align: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      color: $optional-color;
      position: relative;
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;

        &::before {
          display: none;
        }
      }
      &::before {
        content: '';
        position: absolute;
        right: -12px;
        top: 5.6px;
        width: 1px;
        height: 14px;
        background-color: $optional-color;
      }
      a {
        display: block;
        color: $optional-color;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
.footer-map {
  position: absolute;
  right: 20%;
  top: 40%;
  transform: translateY(-40%);
  z-index: -1;
  opacity: 0.8;

  img {
    animation: moveleftbounce 5s linear infinite;
  }
}
@keyframes moveleftbounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

/*================================================
  Go Top CSS
  =================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: -100px;
  right: 20px;
  color: $white-color;
  background-color: $black-color;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.9s;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  i {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: {
      left: auto;
      right: auto;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
  }
  &:hover {
    background-color: $main-color;
    color: $white-color;
    transition: $transition;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }
}
/*================================================
  Go Bottom CSS
  =================================================*/
.go-bottom {
  position: fixed;
  cursor: pointer;
  bottom: -100px;
  left: 330px;
  top: 720px;
  z-index: 4;
  width: 32px;
  height: 65px;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
  &.active {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
  }
  &:hover {
    transition: $transition;
  }
}
