.gallery-area {
  .section-title {
    margin-bottom: 24px;
    h2 {
      letter-spacing: var(--character-spacing-0);
      color: var(--title);
      text-align: center;
      font: {
        style: var(--font-style-normal);
        weight: bold;
        size: var(--font-size-20);
        family: var(--font-family-poppins);
      }
    }
  }
  .owl-nav.disabled {
    display: unset !important;
  }

  .owl-carousel {
    margin-bottom: 80px;
  }
  .owl-carousel .owl-stage-outer {
    max-width: unset;
  }

  .owl-carousel {
    .owl-nav {
      display: flex;
      justify-content: center;
      .owl-prev,
      .owl-next {
        left: -70px;
        background: url('../images/icons/arrow-left.png') no-repeat;
        width: 64px;
        height: 64px;
        top: 35%;
        font-size: 0px;
      }
      .owl-next {
        background: url('../images/icons/arrow-right.png') no-repeat;
        left: auto;
        right: -70px;
      }
    }
  }
}
