/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
  position: relative;
  z-index: 1;
  background: {
    color: $white-color;
    image: url(../images/main-banner/main-banner-bg1.png);
    position: bottom center;
    size: cover;
    repeat: no-repeat;
  }
  padding: {
    top: 365px;
    bottom: 350px;
  }
  .container-fluid {
    max-width: 1360px;
  }
  &.without-banner-animation {
    padding: {
      top: 200px;
      bottom: 250px;
    }
    .main-banner-content {
      margin-top: 0;
    }
  }
}
.main-banner-content {
  h1 {
    font-style: var(--font-style-normal);
    font-weight: bold;
    font-size: 57px !important;
    font-family: var(--font-family-poppins);
    letter-spacing: var(--character-spacing-0);
    color: var(--title);
    text-align: left;
    line-height: 1;
    top: 158px;
    left: 69px;
    margin-bottom: 24px;
    span {
      font-style: var(--font-style-normal);
      font-weight: bold;
      font-size: var(--font-size-48);
      font-family: var(--font-family-poppins);
      letter-spacing: var(--character-spacing-0);
      color: '#E5181E';
      text-align: left;
      line-height: 1.5;
    }
  }
  p {
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: 17px;
    font-family: var(--font-family-poppins);
    letter-spacing: var(--character-spacing-0);
    color: var(--body);
    text-align: left;
    top: 369px;
    left: 69px;
    width: 396px;
  }
  .btn-box {
    margin-top: 24px;

    .default-btn {
      background: var(--color-e5181e) 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;
      font-style: var(--font-style-normal);
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-16);
      line-height: var(--line-spacing-25);
      font-family: var(--font-family-poppins);
      letter-spacing: var(--character-spacing-0);
      text-align: center;
    }
    .video-btn {
      position: absolute;
      display: inline-block;
      text-transform: uppercase;
      color: $main-color;
      font: {
        size: 16px;
        weight: 700;
      }
      margin: {
        top: -3px;
        left: 30px;
      }
      i {
        width: 55px;
        height: 55px;
        line-height: 56px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        background-color: $white-color;
        font-size: 20px;
        margin-right: 5px;
        transition: $transition;
      }
      &:hover {
        i {
          background-color: $main-color;
          color: $white-color;
        }
      }
    }
  }
  img {
    margin-top: 128px;
  }
}
.main-banner-animation-image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    position: absolute;

    &:nth-child(1) {
      left: 0;
      bottom: -220px;
      z-index: 1;
    }
    &:nth-child(2) {
      left: 192px;
      top: -10px;
      z-index: 1;
    }
    &:nth-child(3) {
      left: -25px;
      top: -200px;
    }
    &:nth-child(4) {
      left: -2px;
      right: 0;
      margin: auto;
      z-index: 1;
      top: -145px;
    }
    &:nth-child(5) {
      left: -10px;
      right: 0;
      top: -250px;
      margin: auto;
      z-index: 1;
    }
    &:nth-child(6) {
      right: 150px;
      top: -50px;
      z-index: 1;
    }
    &:nth-child(7) {
      right: 5px;
      top: -120px;
      z-index: -1;
    }
    &:nth-child(8) {
      left: 0;
      right: 0;
      margin: auto;
      top: -35px;
    }
    &:nth-child(9) {
      right: 0;
      top: -80px;
    }
    &:nth-child(10) {
      right: 0;
      bottom: -190px;
    }
    &:nth-child(11) {
      right: 100px;
      top: -10px;
      z-index: -2;
    }
    &:nth-child(12) {
      left: 140px;
      top: 175px;
      z-index: -1;
    }
    &:last-child {
      display: none;
    }
  }
}
.main-banner-image {
  text-align: center;
  background: transparent url(../images/pink-circle.png) no-repeat;
  background-size: cover;
  div {
    width: 543px;
  }
}
.banner-section {
  position: relative;
  z-index: 1;
  background: {
    color: $white-color;
    image: url(../images/main-banner/main-banner-bg2.png);
    position: bottom right;
    size: cover;
    repeat: no-repeat;
  }
  padding: {
    top: 365px;
    bottom: 350px;
  }
  .container-fluid {
    max-width: 1360px;
  }
  &.without-banner-animation {
    padding: {
      top: 200px;
      bottom: 300px;
    }
    .banner-content {
      margin-top: 0;
    }
  }
}
.banner-content {
  margin-top: -50px;

  h1 {
    font-size: 57px;
    margin: {
      bottom: 18px;
      top: -10px;
    }
  }
  .btn-box {
    margin-top: 35px;

    .default-btn {
      margin-bottom: -7px;
    }
    .video-btn {
      position: absolute;
      display: inline-block;
      text-transform: uppercase;
      color: $main-color;
      font: {
        size: 16px;
        weight: 700;
      }
      margin: {
        top: -3px;
        left: 30px;
      }
      i {
        width: 55px;
        height: 55px;
        line-height: 56px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        background-color: $white-color;
        font-size: 20px;
        margin-right: 5px;
        transition: $transition;
      }
      &:hover {
        i {
          background-color: $main-color;
          color: $white-color;
        }
      }
    }
  }
}
.banner-animation-image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    position: absolute;

    &:nth-child(1) {
      top: -180px;
      left: 45px;
    }
    &:nth-child(2) {
      bottom: -80px;
      left: 270px;
    }
    &:nth-child(3) {
      right: 0;
      bottom: 85px;
    }
    &:nth-child(4) {
      right: 0;
      bottom: -90px;
    }
    &:nth-child(5) {
      right: 40px;
      bottom: -15px;
      z-index: 1;
    }
    &:nth-child(6) {
      left: 0;
      bottom: 25px;
    }
    &:nth-child(7) {
      top: -120px;
      left: -50px;
      z-index: 1;
    }
    &:nth-child(8) {
      top: -245px;
      left: 150px;
      z-index: 1;
    }
    &:nth-child(9) {
      left: 200px;
      right: 0;
      margin: auto;
      top: -150px;
    }
    &:nth-child(10) {
      right: 0;
      top: -255px;
    }
    &:nth-child(11) {
      left: 60px;
      bottom: -130px;
    }
    &:nth-child(12) {
      left: 0;
      right: 0;
      margin: auto;
      top: -50px;
      max-width: 70%;
    }
    &:last-child {
      display: none;
    }
  }
}
.banner-image {
  text-align: center;
}
.hero-banner {
  position: relative;
  z-index: 1;
  padding: {
    top: 300px;
    bottom: 300px;
  }
  .container-fluid {
    max-width: 1360px;
  }
  &.without-banner-animation {
    padding: {
      top: 200px;
      bottom: 150px;
    }
  }
}
.hero-banner-content {
  h1 {
    font-size: 59px;
    margin: {
      bottom: 15px;
      top: -10px;
    }
  }
  .btn-box {
    margin-top: 25px;

    .default-btn {
      margin-bottom: -7px;
    }
  }
}
.hero-banner-animation-image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    position: absolute;

    &:nth-child(1) {
      left: -23px;
      right: 0;
      margin: auto;
      bottom: -200px;
      z-index: 1;
    }
    &:nth-child(2) {
      right: -55px;
      bottom: -185px;
    }
    &:nth-child(3) {
      left: 161px;
      bottom: -215px;
      z-index: 1;
      max-width: 20%;
    }
    &:nth-child(4) {
      right: 125px;
      top: -140px;
    }
    &:nth-child(5) {
      left: -75px;
      bottom: -175px;
    }
    &:nth-child(6) {
      right: 0;
      left: -110px;
      margin: auto;
      z-index: 1;
      top: -175px;
    }
    &:nth-child(7) {
      left: -100px;
      right: 0;
      margin: auto;
      z-index: 1;
      top: -34px;
    }
    &:nth-child(8) {
      left: 0;
      right: 102px;
      margin: auto;
      top: -5px;
    }
    &:nth-child(9) {
      left: 20px;
      top: -135px;
    }
    &:nth-child(10) {
      left: 0;
      top: -165px;
    }
    &:last-child {
      display: none;
    }
  }
}
.hero-banner-image {
  text-align: center;
}
.main-banner-area {
  position: relative;
  z-index: 1;
  background: {
    color: $white-color;
    image: url(../images/main-banner/main-banner-bg3.png);
    position: bottom center;
    size: cover;
    repeat: no-repeat;
  }
  padding: {
    top: 250px;
  }
}
.banner-area-content {
  max-width: 720px;
  text-align: center;
  margin: {
    left: auto;
    right: auto;
  }
  h1 {
    font-size: 65px;
    margin: {
      bottom: 18px;
      top: -10px;
    }
  }
  p {
    max-width: 600px;
    margin: {
      left: auto;
      right: auto;
    }
  }
  .default-btn {
    margin-top: 10px;
  }
  img {
    margin-top: 50px;
  }
}
.main-banner-item {
  height: 800px;
  position: relative;
  z-index: 1;
  background: {
    position: center center;
    size: cover;
    repeat: no-repeat;
    color: $black-color;
  }
  &.item-bg1 {
    background-image: url(../images/main-banner/main-banner1.jpg);
  }
  &.item-bg2 {
    background-image: url(../images/main-banner/main-banner2.jpg);
  }
}
.banner-item-content {
  max-width: 720px;

  .sub-title {
    display: block;
    color: $main-color;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 25px;
  }
  h1 {
    font-size: 65px;
    color: $white-color;
    margin: {
      bottom: 18px;
      top: -10px;
    }
  }
  p {
    color: $white-color;
    max-width: 650px;
  }
  .btn-box {
    margin-top: 35px;

    .default-btn {
      margin-bottom: -7px;

      span {
        background-color: $white-color;
      }
      &:hover {
        color: $black-color;
      }
    }
    .video-btn {
      position: absolute;
      display: inline-block;
      text-transform: uppercase;
      color: $main-color;
      font: {
        size: 16px;
        weight: 700;
      }
      margin: {
        top: -3px;
        left: 30px;
      }
      i {
        width: 55px;
        height: 55px;
        line-height: 56px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        background-color: $white-color;
        font-size: 20px;
        margin-right: 5px;
        transition: $transition;
      }
      &:hover {
        i {
          background-color: $main-color;
          color: $white-color;
        }
      }
    }
  }
}
.owl-item {
  &.active {
    .banner-item-content {
      .sub-title {
        animation: {
          duration: 1s;
          fill-mode: both;
          name: fadeInLeft;
          delay: 0.3s;
        }
      }
      h1 {
        animation: {
          duration: 1s;
          fill-mode: both;
          name: fadeInLeft;
          delay: 0.7s;
        }
      }
      p {
        animation: {
          duration: 1s;
          fill-mode: both;
          name: fadeInLeft;
          delay: 0.9s;
        }
      }
      .btn-box {
        animation: {
          duration: 1s;
          fill-mode: both;
          name: fadeInLeft;
          delay: 1.1s;
        }
      }
    }
  }
}
.home-slides {
  &.owl-carousel {
    .owl-nav {
      margin-top: 0;
      position: absolute;
      right: 10px;
      bottom: 10px;

      .owl-prev,
      .owl-next {
        margin: 0 0 0 10px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0;
        color: $main-color;
        background-color: $white-color;
        font-size: 22px;
        transition: $transition;

        &:hover {
          background-color: $main-color;
          color: $white-color;
        }
      }
    }
  }
}
.banner-wrapper {
  position: relative;
  z-index: 1;
  background: {
    color: $white-color;
    image: url(../images/main-banner/main-banner-bg4.jpg);
    position: bottom right;
    size: cover;
    repeat: no-repeat;
  }
  padding: {
    top: 350px;
    bottom: 250px;
  }
  .container-fluid {
    max-width: 1360px;
  }
  &.without-banner-animation {
    padding: {
      top: 200px;
      bottom: 100px;
    }
    .banner-wrapper-content {
      margin-top: 0;
    }
  }
}
.banner-wrapper-content {
  margin-top: -30px;

  h1 {
    font-size: 49px;
    margin: {
      bottom: 18px;
      top: -10px;
    }
  }
  p {
    max-width: 540px;
  }
  .btn-box {
    margin-top: 35px;

    .default-btn {
      margin-bottom: -7px;

      &:not(:first-child) {
        top: -0.3px;
        margin-left: 15px;
        background-color: transparent;
        z-index: 1;
        height: 47px;
        color: $main-color;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          z-index: -1;
          border-radius: 5px;
          bottom: 0;
          left: 0;
          border: 1px solid $main-color;
        }
        &:hover {
          color: $white-color;
        }
      }
    }
  }
}
.banner-wrapper-animation-image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    max-width: 39%;

    &:nth-child(1) {
      right: 30px;
      bottom: -60px;
      z-index: 2;
    }
    &:nth-child(2) {
      right: 2px;
      bottom: -107px;
      z-index: 1;
    }
    &:nth-child(3) {
      right: 75px;
      top: -210px;
      z-index: 1;
    }
    &:nth-child(4) {
      right: 0;
      top: -180px;
    }
    &:nth-child(5) {
      left: 80px;
      top: -165px;
    }
    &:nth-child(6) {
      right: 0;
      left: 220px;
      margin: auto;
      top: 150px;
      z-index: 2;
    }
    &:nth-child(7) {
      left: 188px;
      bottom: -140px;
      z-index: 2;
    }
    &:nth-child(8) {
      left: -25px;
      bottom: -40px;
      z-index: 1;
    }
    &:nth-child(9) {
      right: 0;
      left: 30px;
      margin: auto;
      top: -70px;
      max-width: 82%;
    }
    &:nth-child(10) {
      left: 0;
      right: -70px;
      top: -100px;
      margin: auto;
      max-width: 82%;
      z-index: -1;
    }
    &:last-child {
      display: none;
    }
  }
}
.banner-wrapper-image {
  text-align: center;
}
.vector-shape7 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.vector-shape8 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.it-services-banner {
  position: relative;
  z-index: 1;
  background: {
    color: $white-color;
    image: url(../images/banner-bg.png);
    position: bottom center;
    size: cover;
    repeat: no-repeat;
  }
  padding: {
    top: 220px;
    bottom: 210px;
  }
  .main-banner-content {
    margin-top: 0;
  }
}
.seo-agency-banner {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #f7f7f7;
  height: 100vh;
  .container {
    padding-left: 0;
    height: 100%;
    .row {
      height: 100%;
    }
    .hero-scroll {
      position: absolute;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      margin: auto;
      bottom: 32px;
      animation: slide 4s linear infinite;

    }
    @keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }	
     20% { opacity:1; transform: translateX(9vw); }	
     80% { opacity:1; transform: translateX(-9vw); }	
    100% { opacity:0; transform: translateX(-15vw); }	
  }
  }
  .container-fluid {
    max-width: 1360px;
  }
  .banner-wrapper-content {
    margin-top: 0;

    h1 {
      margin-bottom: 20px;
    }
    .btn-box {
      margin-top: 25px;
    }
  }
}
.banner-wrapper-content {
  .sub-title {
    display: block;
    margin-bottom: 20px;
    color: $main-color;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.digital-agency-banner {
  background: linear-gradient(75deg, #65258a 10%, #e80566) !important;
  position: relative;
  z-index: 1;
  padding: {
    top: 120px;
    bottom: 120px;
  }
  .banner-wrapper-content {
    margin-top: 0;

    .sub-title {
      color: $white-color;
    }
    h1 {
      color: $white-color;
    }
    p {
      color: $white-color;
    }
  }
}
