/*================================================
Our Mission Area CSS
=================================================*/
.our-mission-content {
  .content {
    .sub-title {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin-bottom: 24px;
      color: var(--title);
      letter-spacing: var(--character-spacing-0);
      font: {
        style: var(--font-style-normal);
        weight: bold;
        size: var(--font-size-24);
        line-height: (--line-spacing-35);
        family: var(--font-family-poppins);
      }
      img {
        margin-right: 5px;
        animation: {
          name: rotateme;
          duration: 40s;
          iteration-count: infinite;
          timing-function: linear;
        }
      }
    }
    h2 {
      margin-bottom: 12px;
      color: var(--title);
      font: {
        style: var(--font-style-normal);
        weight: bold;
        size: var(--font-size-48);
        family: var(--font-family-poppins);
      }
    }
    p {
      font: {
        style: var(--font-style-normal);
        weight: var(--font-weight-normal);
        size: 17px;
        family: var(--font-family-poppins);
      }
      color: var(--caption);
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .our-mission-list {
      padding-left: 0;
      list-style-type: none;
      overflow: hidden;
      padding-bottom: 7px;
      margin: {
        bottom: 30px;
        right: -15px;
      }
      li {
        opacity: 1;
        float: left;
        margin-bottom: 32px;
        position: relative;
        z-index: 1;
        color: var(--title);
        letter-spacing: var(--character-spacing-0);
        font: {
          style: var(--font-style-normal);
          weight: 600;
          size: var(--font-size-20);
          family: var(--font-family-poppins);
        }
        &:nth-child(odd) {
          width: calc(calc(100% / 2) - 10px);
          margin: {
            right: 10px;
          }
        }
        &:nth-child(even) {
          width: calc(calc(90% / 2) - 10px);
          margin: {
            left: 10px;
          }
        }
        img {
          display: block;
          width: 32px;
          margin-bottom: 8px;
        }
      }
    }

    .features-list {
      padding-left: 0;
      list-style-type: none;
      margin: {
        bottom: 30px;
        top: 30px;
      }
      li {
        position: relative;
        margin-bottom: 35px;
        padding-left: 53px;
        font: {
          size: 19px;
          weight: 800;
        }
        i {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 3px;
          width: 40px;
          height: 40px;
          line-height: 41px;
          text-align: center;
          transition: $transition;
          background-color: #deecf4;
          font-size: 20px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          i {
            background-color: $main-color;
            color: $white-color;
          }
        }
      }
    }
    .default-btn {
      margin-top: 5px;
    }
  }
}
.our-mission-img {
  max-width: 584px;
  max-height: 438px;
}
.our-mission-image {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 56px;
  .shape {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

/*================================================
Services Area CSS
=================================================*/
.services-area {
  position: relative;
  z-index: 1;
}
.single-services-box {
  text-align: center;
  margin-bottom: 24px;
  background-color: $white-color;
  padding: 16px;
  position: relative;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;

  .icon {
    margin-bottom: 25px;
  }
  .box-link {
    margin-top: 16px;
    margin-bottom: 8px;
    letter-spacing: var(--character-spacing-0);
    color: var(--color-e5181e);
    font: {
      style: var(--font-style-normal);
      weight: bold;
      size: var(--font-size-24);
      family: var(--font-family-poppins);
    }
  }

  .red_line {
    border: 1px solid var(--color-e5181e);
    opacity: 1;
    width: 192px;
    margin-bottom: 8px;
    margin: auto;
  }
  .box-description {
    letter-spacing: var(--character-spacing-0);
    color: var(--title);
    font: {
      style: var(--font-style-normal);
      weight: var(--font-weight-normal);
      size: 17px;
      family: var(--font-family-poppins);
    }
  }
  .read-more-btn {
    display: inline-block;
    color: $main-color;
    position: absolute;
    right: 45px;
    bottom: 15px;
    font: {
      size: $font-size;
      weight: 700;
    }
    i {
      position: relative;
      top: 2px;
    }
  }
  &:hover {
    &::before {
      opacity: 0;
      visibility: hidden;
    }
    &::after {
      opacity: 1;
      visibility: visible;
    }
    .read-more-btn {
      color: $white-color;
    }
  }
}
.single-services-item {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $white-color;
  border-radius: 5px;
  padding: 40px 30px 35px;
  transition: $transition;

  .icon {
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 12px;
    font: {
      size: 25px;
    }
    a {
      display: inline-block;
    }
  }
  .default-btn {
    background-color: transparent;
    color: $main-color;
    border: 1px solid #eae1d6;
    margin-top: 8px;

    span {
      display: none;
    }
    i {
      transition: $transition;
    }
    &:hover {
      color: $white-color;
      border-color: $main-color;
      background-color: $main-color;
      padding: 12px 50px 12px 25px;

      i {
        left: 73%;
      }
    }
  }
  .shape1 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.85;
  }
  .shape2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: $transition;
  }
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    .shape1 {
      img {
        animation: {
          name: rotateme;
          duration: 50s;
          iteration-count: infinite;
          timing-function: linear;
        }
      }
    }
    .shape2 {
      right: -10px;
      bottom: -10px;
    }
  }
}
.single-services-item-box {
  text-align: center;
  margin-bottom: 30px;
  background-color: $white-color;
  padding: 45px 30px;
  border-radius: 5px;

  .icon {
    margin-bottom: 25px;
  }
  h3 {
    margin-bottom: 12px;
    font: {
      size: 25px;
    }
    a {
      display: inline-block;
    }
  }
  .read-more-btn {
    color: $main-color;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding-right: 23px;

    i {
      position: absolute;
      right: 0;
      top: 4px;
      transition: $transition;
      line-height: 1;
    }
    &:hover {
      color: $black-color;
      padding: {
        right: 0;
        left: 8px;
      }
      i {
        right: 100%;
      }
    }
  }
}
.single-services-box-item {
  background-color: #fafafb;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 90px 35px 70px;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);

  .icon {
    width: 90px;
    height: 90px;
    text-align: center;
    position: relative;
    background-color: #80c54d;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
    }
  }
  h3 {
    margin-bottom: 12px;
    font: {
      size: 25px;
    }
    a {
      display: inline-block;
    }
  }
  .shape {
    position: absolute;
    right: 0;
    top: -15px;
    z-index: -1;
  }
  .learn-more-btn {
    color: $main-color;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding-left: 23px;

    i {
      position: absolute;
      left: 0;
      top: 3px;
      transition: $transition;
      line-height: 1;
    }
    &:hover {
      color: $black-color;
      padding: {
        left: 0;
        right: 8px;
      }
      i {
        left: 100%;
        top: 4.5px;
      }
    }
  }
}
.col-lg-4 {
  &:nth-child(2) {
    .single-services-box-item {
      .icon {
        background-color: #4267d1;
      }
    }
  }
  &:nth-child(3) {
    .single-services-box-item {
      .icon {
        background-color: #ca8220;
      }
    }
  }
  &:nth-child(4) {
    .single-services-box-item {
      .icon {
        background-color: #b92fb1;
      }
    }
  }
  &:nth-child(5) {
    .single-services-box-item {
      .icon {
        background-color: #de6742;
      }
    }
  }
  &:nth-child(6) {
    .single-services-box-item {
      .icon {
        background-color: #59eed0;
      }
    }
  }
}
.circle-shape2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.load-more-btn {
  margin-top: 25px;

  .default-btn {
    background-color: transparent;
    color: $main-color;
    border: 1px solid #eae1d6;
    margin-bottom: -7px;

    span {
      background-color: $main-color;
    }
    &:hover {
      color: $white-color;
      border-color: $main-color;
    }
  }
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100%;
  z-index: -1;

  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #e5ebf0;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        $main-color 75%,
        $main-color 100%
      );
      animation: run 7s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    &:nth-child(1) {
      margin-left: -30%;

      &::after {
        animation-delay: 2s;
      }
    }
    &:nth-child(3) {
      margin-left: 30%;

      &::after {
        animation-delay: 2.5s;
      }
    }
    &:nth-child(4) {
      margin-left: -15%;

      &::after {
        animation-delay: 3s;
      }
    }
    &:nth-child(5) {
      margin-left: 15%;

      &::after {
        animation-delay: 3.5s;
      }
    }
  }
}
@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/*================================================
  Services Details Area CSS
  =================================================*/
.services-details-image {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;

  img {
    border-radius: 5px;
    width: 100%;
  }
}
.services-details-image-slides {
  &.owl-theme {
    margin-bottom: 30px;

    .owl-nav {
      margin-top: 0;
      opacity: 0;
      visibility: hidden;
      transition: $transition;

      [class*='owl-'] {
        color: #87a1c1;
        font-size: 18px;
        margin: 0;
        padding: 0;
        background: $white-color;
        width: 45px;
        height: 45px;
        line-height: 40px;
        position: absolute;
        left: 20px;
        transition: $transition;
        top: 50%;
        transform: translateY(-50%);
        padding: {
          left: 5px !important;
        }
        border: {
          radius: 50%;
          style: solid;
          color: $white-color;
          width: 1.5px;
        }
        &.owl-next {
          left: auto;
          right: 20px;
          padding: {
            left: 3px !important;
          }
        }
        &:hover {
          background-color: $main-color;
          color: $white-color;
          border-color: $main-color;
        }
      }
    }
    &:hover {
      .owl-nav {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.services-details-desc {
  margin-bottom: 56px;
  h3 {
    letter-spacing: var(--character-spacing-0);
    color: var(--title);
    text-align: left;
    margin-left: -15px;
    margin-bottom: 40px;
    font: {
      style: var(--font-style-normal);
      weight: bold;
      size: var(--font-size-20);
      family: var(--font-family-poppins);
    }
  }
  .row {
    justify-content: space-between;
    margin-bottom: 77px;

    [class*='col-'] {
      background: var(--color-f7f7f7) 0% 0% no-repeat padding-box;
      border: 1px solid var(--color-d9d9d9);
      padding: 0;
      margin-bottom: 24px;
      max-width: 45%;
      .single-industries-serve-box {
        display: flex;
        margin: 0;
        overflow: hidden;
        .icon {
          transform: translateX(-33%);
        }
        p {
          letter-spacing: var(--character-spacing-0);
          display: flex;
          color: var(--title);
          text-align: left;
          padding-top: 20px;
          font: {
            style: var(--font-style-normal);
            weight: bold;
            size: var(--font-size-24);
            family: var(--font-family-poppins);
          }
        }
      }
    }
  }

  .sub-title {
    color: $main-color;
    display: block;
    margin-bottom: -18px;
    font: {
      size: 16px;
      weight: 700;
    }
  }
  .image {
    padding-right: 15px;
    border-radius: 5px;
    margin: {
      top: 15px;
      bottom: 30px;
    }
    img {
      border-radius: 5px;
    }
  }
  .content {
    margin: {
      top: 15px;
      bottom: 30px;
    }
  }
  .accordion-item {
    margin-left: -15px;
    margin-bottom: 12px;
    transition: 0.5s;
    .accordion-title {
      display: flex;
      border-top: 1px solid var(--color-d9d9d9);
      padding-top: 12px;
      justify-content: space-between;
      h3 {
        margin-left: 0;
        margin: 0;
      }
      .plus {
        height: 2px;
        width: 16px;
        display: inline-block;
        color: black;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        &::before {
          content: '+';
        }
      }
      .minus {
        height: 2px;
        width: 16px;
        display: inline-block;
        color: black;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        &::before {
          content: '-';
        }
      }
    }
    .accordion-content {
      .technologies-features {
        transition: height 200ms;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: {
          bottom: 25px;
          top: -5px;
        }
        li {
          flex: 0 0 50%;
          max-width: 50%;
          padding-top: 12px;
          display: flex;
          span {
            font: {
              style: var(--font-style-normal);
              weight: var(--font-weight-normal);
              size: 17px;
              family: var(--font-family-poppins);
            }
            width: 58%;
            padding-right: 40px;
            padding-top: 12px;
            letter-spacing: var(--character-spacing-0);
            color: var(--title);
            text-align: left;
            position: relative;
            display: block;
          }
          div {
            img {
              &:not(:last-child) {
                margin-right: 12px;
              }
            }
          }
        }
        }
    }
  }

  .single-industries-serve-box {
    font-size: 22px;
    margin: {
      top: 15px;
      bottom: 20px;
    }
  }
}
.services-details-info {
  padding-left: 15px;

  .services-list {
    padding-left: 0;
    list-style-type: none;
    background-color: $white-color;
    box-shadow: 0 5px 40px 10px #eaeaef;
    margin-bottom: 30px;

    li {
      a {
        display: block;
        border-bottom: 1px solid #eeeeee;
        padding: 20px 30px;
        position: relative;
        font: {
          size: $font-size;
          weight: 800;
        }
        &::before {
          content: '\f104';
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          font: {
            family: Flaticon;
            size: 18px;
          }
        }
        &:hover,
        &.active {
          background-color: $main-color;
          border-color: $main-color;
          color: $white-color;
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
  .download-file {
    background-color: $white-color;
    box-shadow: 0 5px 40px 10px #eaeaef;
    margin-bottom: 30px;
    padding: 30px;

    h3 {
      margin-bottom: 25px;
      font: {
        size: 24px;
      }
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 0;

      li {
        a {
          display: block;
          border-bottom: 1px solid #eeeeee;
          position: relative;
          padding: {
            top: 15px;
            bottom: 15px;
          }
          font: {
            size: 16.5px;
            weight: 700;
          }
          i {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:first-child {
          border-top: 1px solid #eeeeee;
        }
      }
    }
  }
  .services-contact-info {
    background-color: $white-color;
    box-shadow: 0 5px 40px 10px #eaeaef;
    margin-bottom: 30px;
    padding: 30px;

    h3 {
      margin-bottom: 25px;
      font: {
        size: 24px;
      }
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        margin-bottom: 20px;
        border-bottom: 1px solid #eeeeee;
        position: relative;
        color: $optional-color;
        font: {
          weight: 600;
          size: 16.5px;
        }
        padding: {
          left: 35px;
          bottom: 20px;
        }
        span {
          color: $black-color;
          display: block;
          margin-bottom: 8px;
          font: {
            size: 20px;
            weight: 800;
          }
        }
        a {
          display: block;
          color: $optional-color;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            color: $main-color;
          }
        }
        .icon {
          position: absolute;
          left: 0;
          top: 3px;
          color: $main-color;
          font: {
            weight: normal;
            size: 25px;
          }
        }
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}
