/*================================================
Testimonials Area CSS
=================================================*/
.testimonials-area {
  position: relative;
  z-index: 1;

  &.bg-color {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      height: 267px;
      background-color: #f1f8fb;
    }
  }
  &.bg-23173a {
    background-color: $black-color;

    .section-title {
      h2 {
        color: $white-color;

        .overlay {
          background-color: $white-color;
        }
      }
      p {
        color: $white-color;
      }
    }
  }
}
.single-testimonials-item {
  margin-bottom: 30px;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding: 130px 50px 50px;
  text-align: center;

  p {
    margin-bottom: 0;
    font-size: 18px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $white-color;
    z-index: -1;
    height: 87%;
    border-radius: 5px;
    right: 0;
  }
  &::after {
    content: '\f106';
    position: absolute;
    left: 0;
    color: $black-color;
    top: -20px;
    line-height: 1;
    z-index: -1;
    right: 0;
    opacity: 0.05;
    font: {
      family: Flaticon;
      size: 150px;
    }
  }
  .client-info {
    margin-top: 25px;

    img {
      width: 50px !important;
      height: 50px;
      display: inline-block !important;
      border-radius: 50%;
    }
    .title {
      text-align: left;
      margin-left: 15px;

      h3 {
        font-size: 18px;
        margin-bottom: 3px;
      }
      span {
        color: $optional-color;
        font: {
          size: 15px;
          weight: 600;
        }
      }
    }
  }
}
.single-testimonials-box {
  margin-bottom: 30px;
  background-color: $white-color;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding: 70px 50px 40px;
  text-align: center;
  margin-top: 40px;

  &.bg-fafafb {
    background-color: #fafafb;
  }
  img {
    width: 80px !important;
    height: 80px;
    display: inline-block !important;
    border-radius: 50%;
    border: 5px solid #e3fbff;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    margin: auto;
  }
  p {
    margin-bottom: 0;
    font-size: 18px;
  }
  &::after {
    content: '\f106';
    position: absolute;
    bottom: 0;
    color: $black-color;
    line-height: 1;
    z-index: -1;
    right: 20px;
    opacity: 0.05;
    font: {
      family: Flaticon;
      size: 140px;
    }
  }
  .client-info {
    margin-top: 25px;

    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    span {
      color: $optional-color;
      font: {
        size: 15px;
        weight: 600;
      }
    }
  }
}
.testimonials-view-btn {
  margin-top: 25px;

  .default-btn {
    background-color: transparent;
    color: $main-color;
    border: 1px solid #eae1d6;
    margin-bottom: -7px;

    span {
      background-color: $main-color;
    }
    &:hover {
      color: $white-color;
      border-color: $main-color;
    }
  }
}
.testimonials-slides {
  &.owl-carousel {
    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        left: 0;
        width: 40px;
        top: -10px;
        height: 40px;
        border-radius: 50%;
        background-color: $white-color;
        color: $black-color;
        border: 1px solid #eae2d7;
        line-height: 40px;
        transition: $transition;
        padding: 0;
        font-size: 16px;

        &:hover {
          background-color: $main-color;
          border-color: $main-color;
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
          color: $white-color;
        }
      }
      .owl-next {
        left: auto;
        right: 0;
      }
    }
  }
}
.shape-img1 {
  position: absolute;
  left: 10%;
  top: 2%;
  z-index: -1;

  img {
    animation: {
      name: rotateme;
      duration: 10s;
      iteration-count: infinite;
      timing-function: linear;
    }
  }
}
