/*================================================
Testimonials Area CSS
=================================================*/
.testimonials-area {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  &.bg-color {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      height: 267px;
      background-color: #f1f8fb;
    }
  }
  .section-title {
    max-width: 1020px;
    h2 {
      margin-top: 12px;
    }
  }
}
.owl-dots {
  opacity: 0 !important;
  visibility: hidden !important;
  .owl-dot {
    span {
      width: 16px !important;
      height: 16px !important;
    }
    &.active {
      span {
        background: var(--color-e5181e) !important;
      }
    }
    &:hover {
      span {
        background: var(--color-e5181e) !important;
      }
    }
  }
}

.owl-carousel .owl-stage-outer {
  max-width: 1020px;
  margin: auto;
}
.single-testimonials-item {
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  max-width: 1020px;
  p {
    margin-bottom: 0;
    font-size: 18px;
  }

  .client-info {
    width: 187px;
    img {
      width: 187px !important;
      height: 187px !important;
      display: inline-block !important;
      border-radius: 50%;
    }
  }
  .title {
    width: calc(100% - 219px);
    margin-left: 32px;
    h3 {
      font: {
        style: var(--font-style-normal);
        weight: var(--font-weight-normal);
        size: var(--font-size-20);
        family: var(--font-family-poppins);
      }
      letter-spacing: var(--character-spacing-0);
      color: var(--color-e5181e);
      text-align: left;
      margin-bottom: 3px;
    }
    h4 {
      letter-spacing: var(--character-spacing-0);
      color: var(--title);
      text-align: left;
      font: {
        style: var(--font-style-normal);
        weight: var(--font-weight-normal);
        size: var(--font-size-20);
        family: var(--font-family-poppins);
      }
    }
    p {
      letter-spacing: var(--character-spacing-0);
      color: var(--title);
      text-align: left;
      font: {
        style: var(--font-style-normal);
        weight: var(--font-weight-normal);
        size: 17px;
        family: var(--font-family-poppins);
      }
    }
  }
}
.single-testimonials-box {
  margin-bottom: 30px;
  background-color: $white-color;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding: 70px 50px 40px;
  text-align: center;
  margin-top: 40px;

  &.bg-fafafb {
    background-color: #fafafb;
  }
  img {
    width: 80px !important;
    height: 80px;
    display: inline-block !important;
    border-radius: 50%;
    border: 5px solid #e3fbff;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    margin: auto;
  }
  p {
    margin-bottom: 0;
    font-size: 18px;
  }
  &::after {
    content: '\f106';
    position: absolute;
    bottom: 0;
    color: $black-color;
    line-height: 1;
    z-index: -1;
    right: 20px;
    opacity: 0.05;
    font: {
      family: Flaticon;
      size: 140px;
    }
  }
  .client-info {
    margin-top: 25px;

    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    span {
      color: $optional-color;
      font: {
        size: 15px;
        weight: 600;
      }
    }
  }
}
.testimonials-view-btn {
  margin-top: 25px;

  .default-btn {
    background-color: transparent;
    color: $main-color;
    border: 1px solid #eae1d6;
    margin-bottom: -7px;

    span {
      background-color: $main-color;
    }
    &:hover {
      color: $white-color;
      border-color: $main-color;
    }
  }
}
.testimonials-slides {
  &.owl-carousel {
    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        left: -20px;
        background: url('../images/icons/arrow-left.png') no-repeat;
        width: 64px;
        height: 64px;
        top: 18%;
        font-size: 0px;
        &:hover {
          background: url('../images/icons/arrow-left.png') no-repeat;
        }
      }
      .owl-next {
        background: url('../images/icons/arrow-right.png') no-repeat;
        left: auto;
        right: -20px;
        &:hover {
          background: url('../images/icons/arrow-right.png') no-repeat;
        }
      }
    }
  }
}
.shape-img1 {
  position: absolute;
  left: 10%;
  top: 2%;
  z-index: -1;

  img {
    animation: {
      name: rotateme;
      duration: 10s;
      iteration-count: infinite;
      timing-function: linear;
    }
  }
}
